html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    margin: 0;
}

.header {
    border-top: 1px solid #D9FFF5;
    padding: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.header__text {
    margin: 0;
    font-family: "TT Lakes", Arial, sans-serif;
    font-size: 16px;
    color: #7E7E82;
    line-height: 24px;
    font-weight: lighter;
    letter-spacing: -0.2px;
}

img{
    vertical-align: top;
}

.swiper-container {
    background-color: #F2F2F2;
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0;
    text-align: center;
    background-color: #ffffff;
    border-radius: 6px;
    padding-right: 16px;
    padding-left: 16px;
    height: 72px;
    border: 1px solid #EAEAEA;
    width: 208px !important;
}

img {
    margin-left: 0;
    padding-left: 0;
}

.swiper-slide__button {
}

.swiper-pagination {
    position: relative;
    bottom: 14px;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
    margin: 0 6px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}

.swiper-container {
    overflow: hidden;
    width: 100%;
}

.swiper-wrapper {
    flex-wrap: wrap;
}

.all-slides__show {
    display: none;
    width: 8.5em;
    font-family: "TT Lakes", Arial, sans-serif;
    font-size: 16px;
    padding: 0.3em 0 0.3em 2em;
    background: url("img/expand_1.svg") no-repeat;
    border: none;
    margin-left: 24px;
}

.all-slides__hide {
    display: none;
    width: 8.5em;
    font-family: "TT Lakes", Arial, sans-serif;
    font-size: 16px;
    padding: 0.3em 0 0.3em 2em;
    background: url("img/expand_1.svg") no-repeat;
    border: none;
    margin-left: 24px;
    text-align: left;
}


@media (max-width: 767px) {
    .swiper-wrapper {
        flex-wrap: nowrap;
    }

    button.show, button.hidden {
        display: none;
    }

    .swiper-wrapper {
        margin-left: 16px;
    }

    .all-slides {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        height: 56px;
        padding-left: 24px;
    }

    .swiper-container {
        padding-top: 8px;
    }

    .swiper-pagination {
        display: none;
    }

    .swiper-wrapper .swiper-slide {
        width: 190px !important;
        /*margin: 8px 0 8px 24px;*/
        margin-left: 24px;
        margin-right: 0 !important;
    }

    .swiper-wrapper {
        justify-content: flex-start;
    }

    .hidden {
        display: none;
    }

    .all-slides__show {
        display: block;
    }

    .all-slides__hide {
        background: url("img/expand_2.svg") no-repeat;
    }

}

@media (min-width: 1120px) {
    .swiper-wrapper .swiper-slide {
        width: 208px !important;
        margin-left: 32px;
    }
}