@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: auto;
    src: url("/fonts/TTLakes-Regular.eot");
    src: url("/fonts/TTLakes-Regular.woff") format("woff");
    src: url("/fonts/TTLakes-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Lakes';
    font-style: normal;
    font-weight: auto;
    src: url("/fonts/TTLakes-Medium.eot");
    src: url("/fonts/TTLakes-Medium.woff") format("woff");
    src: url("/fonts/TTLakes-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/TTLakes-Bold.eot");
    src: url("/fonts/TTLakes-Bold.woff") format("woff");
    src: url("/fonts/TTLakes-Bold.ttf") format("truetype");
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    width:100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: block;
    width: 320px;
    height: 100%;
    z-index: 3;
    background-color: #ffffff;
    box-shadow: 16px 0 52px 0 #0E185033;
}

.sidebar-container {
    margin: 0 24px;
}

.header-menu {
    /*background: #FFFFFF;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 16px 0;
}

.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.menu-logo {
    margin-left: -62px;
}

.sidebar-menu__footer {
    display: flex;
    flex-direction: column;
    margin: auto 0 32px 0;
    flex-grow: 1;
}

.sidebar-menu__section {
    /*background-color: #f5f5f5;*/
    margin-top: 34px;
    margin-bottom: 252px;
}

.section-menu__list .section-menu__item {
    margin-bottom: 32px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
}

/*.section-menu__list .active .section-menu__item-link {
    color: #7E7E82;
}*/

a:hover {
    /*opacity: 0.6;*/
    filter: drop-shadow(0px 0px 10px #FF69B4);
}

.section-menu__item-link:hover {
    color: #FF1493;
}

.section-menu__list .active .section-menu__item-link {
    color: #7E7E82;
}

.section-menu__list .active::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 116px;
    width: 8px;
    height: 32px;
    background: #41F6D7;
    border-radius: 8px;
}

.footer-menu {
    /*background: #FFFFFF;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: 16px 0;
}

.block-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.block-footer__button {
    margin-right: 16px;
}

.footer-contacts__item {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
}


.footer-contacts__item:nth-child(2) {
    padding-top: 12px;
    font-size: 24px;
    letter-spacing: -0.6px;
    font-weight: bold;
}

.footer-lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin-top: 40px;
    margin-bottom: 32px;
}

.footer-lang__item {
    margin-right: 7px;
    font-size: 16px;
}

.footer-lang .active .footer-lang__item-link {
    color: #7E7E82;
}





