.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 51px;

  &__close {
    margin-right: 16px;
    transition:filter 0.3s ease-in-out;

    @media (min-width: 1440px) {
      display: none;
    }

    &:hover{
      filter: opacity(65%);
    }

    &:focus{
      filter: opacity(65%);
    }
  }

  &__item{
    transition:filter 0.3s ease-in-out;

    &:hover{
      filter: opacity(65%);
    }

    &:focus{
      filter: opacity(65%);
    }

    @media (min-width: 768px) {
      &.burger{
        margin-right: 15px;
        margin-left: 24px;
      }

      &.logo__item{
        margin-left: 20px;

      }
    }

    &.logo__item{
      flex: 1;
      transition: none;

      &:hover{
        filter: none;
      }

      &:focus{
        filter: none;
      }
    }

    &.burger{
      width: 40px;
      height: 40px;
    }

  }

  &__list{
    display: flex;
    justify-content: center;
    align-items: center;

    &.contacts{
      display: none;
    }

    &.main{
      width: 40px;
      height: 40px;
      margin-left: 16px;
    }

    &.logo{
      width: 97px;
      height: 51px;
      flex: 1;
      margin-left: 16px;
    }

    &.service{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: 768px) {
      &.contacts{
        display: flex;
      }

      &.main{
        &::after{
          content: "";
          height: 32px;
          border: 1px solid $before;
          border-radius: 2px;
        }
      }
    }
  }

  &__logo{
    flex: 1;
  }

  &__search{
    margin-right: 24px;
    margin-left: 78px;
    transition:filter 0.3s ease-in-out;

    &:hover{
      filter: opacity(65%);
    }

    &:focus{
      filter: opacity(65%);
    }
  }
}


