.commerce{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $borderColor;

  &__title{
    font-family: 'TT Lakes Regular';
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 25px;
    padding-top: 16px;

    font-size: 14px;
    line-height: 20px;
    color: $text;
    letter-spacing: 0.2px;
    text-align: left;


    @media (min-width: 768px) {
      width: 420px;
      padding-top: 24px;
      padding-left: 24px;
      padding-bottom: 16px;
      line-height: 20px;
    }
  }

  &__get{
    display: flex;
    font-family: 'TT Lakes Medium';
    padding-bottom: 40px;
    padding-left: 16px;

    @media (min-width: 768px) {
      padding-left: 24px;
      padding-bottom: 47px;
      a {
        flex-direction: row;
        &:nth-child(1){
          display: none;
        }

      }
    }

    a {
      display: flex;
      flex-direction: column;
      font-family: 'TT Lakes Medium';
      color: $text;

      &:last-child{
        display: none;

        @media (min-width: 768px) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
      }
    }

    &.link{
      padding-left: 0;
      align-items: center;
      padding-bottom: 0;

      img{
        margin-left: 8px;
      }
    }
  }
}
