.wrapper {
  position: relative;
  overflow: hidden;
  @media (min-width: 1600px) {
    margin: 0 auto;
    max-width: 1600px;
  }

  &__main {
    max-width: 1440px;
    overflow: hidden;
    background-color: $bgGrey;
    margin: 0 auto;

    @media (min-width: 1440px) {
      margin-left: 320px;
    }
  }

  &__modals {
    .menu-wrap {
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 320px;

      @media (min-width: 360px) {
        left: 360px;
      }

      @media (min-width: 1440px) {
        display: none;
      }
    }

    .feedback-wrap {
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      right: 320px;

      @media (min-width: 1440px) {
        right: 440px;
      }
    }

    .call-wrap {
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      right: 320px;

      @media (min-width: 1440px) {
        right: 440px;
      }
    }
  }
  }
