.technics {
  padding: 16px;
  min-height: 128px;
  flex-direction: column;

  p {
    align-self: flex-start;
  }

  a {
    align-self: flex-end;
  }

  &__full{
    display: none;

    &:hover {
      transition: filter 0.3s ease-in-out;
      filter: opacity(65%);
    }

    @media (min-width: 768px) {
       display: flex;
        cursor: pointer;
        width: 140px;
        margin-left: 32px;
        padding-top: 24px;
        align-self: flex-start;

        font-family: 'TT Lakes Medium';
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $text;
      }
    }

    &__list{
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        flex-wrap: wrap;
      }
    }

    &__item{
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 1;

        height: 72px;
        width: 205px;
        max-width: 240px;

        padding: 20px 16px;
        margin-top: 16px;
        margin-right: 32px;

        background: $bgBody;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        border-radius: 6px;
      }
    }

    &__arow{
      &--transform{
        transform: rotate(180deg);
      }
    }
  }

  @media (min-width: 768px) {
    .technics-wrapper {
      width: 100%;
      padding-right: 24px;


      &--hide {
        height: 180px;
        overflow: hidden;
      }

      &--show {
        height: auto;
      }
    }
  }

article:not(:first-of-type) {
  margin-top: 24px;
}


