.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 320px;
  height: 100%;
  z-index: 1;
  color: $text;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  transform: translateX(-150%) scaleX(0);

  @media (min-width: 360px) {
    width: 360px;
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1440px) {
    transform: scaleX(1) translateX(0);
    width: 320px;
    position: fixed;
    top: 0;
    left: auto;
    overflow: hidden;

    .container{
      box-shadow: none;
      background-color: $bgBody;
    }
  }

  p{
    color: $text;
  }

  .container{
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: $bgBody;

    @media (min-width: 768px) {
      height: auto;
    }

    @media (min-width: 1440px) {
      box-shadow: none;
    }
  }

  &__footer{
    padding-left: 24px;
    padding-bottom: 32px;
  }

  &__item{
    cursor: pointer;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 22px;
    margin-top: 32px;
    margin-bottom: 25px;
  }

  &__section{
    margin-left: 24px;
    flex: 1;

    @media (min-width: 320px) {
      height: 392px;
      flex: none;
    }

    @media (min-width: 768px) {
      height: max-content;
      flex: none;
    }

    @media (min-width: 1440px) {
      height: 610px;
      flex: none;
    }
  }

  &--open{
    transition: all 0.3s ease-in-out;
    transform: translateX(0) scaleX(1);
    z-index: 3;
  }
}
